@import url('https://fonts.googleapis.com/css?family=Bigshot+One|Bungee+Inline&display=swap');

$c-1: #222629;
$c-2: #474B4F;
$c-3: #6B6E70;
$c-4: darkslategrey;
$client: darkslategrey;
$c-5: $c-4;
$white: white;

$header-font: 'Rubik Mono One', sans-serif;
$standard-font: 'Montserrat', sans-serif;
$Title-font: 'Bungee', cursive;
